
h1 {  
    /* box-level */
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-color: darkgreen;
    border-style: solid;

    /* border: 10px solid darkgreen; */

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    /* padding: 10px 20px 30px 40px */

    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;

    /* margin: 20px 20px 40px 20px */

    outline-width: 5px;
    outline-color: rgb(178, 178, 209);
    outline-style: dotted; 
    outline-offset: 10px;

    /* outline: 5px dotted rgb(178, 178, 209); */

}

a{
    /* inline-level */
    border-width: 10px;
    border-color: red;
    border-style: solid;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}