div{
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 20%;

}

div:hover{
    background-color: rgb(214, 19, 19);
}